html {
  background-image: url("multimedia/pisoRajado.png");
  background-color: darkslategray;
  font-family: "Barlow", sans-serif;
  background-size: cover;
}
h5 {
  color: aliceblue;
  margin: auto auto 0px 195vh;
  font-size: 2.5vh;
  cursor: pointer;
}
h5:hover {
  text-shadow: 1px 1px 5px black;
}
.bienvenida {
  text-align: center;
  color: aliceblue;
  font-size: 2.5em;
}
h1 {
  margin-top: 55px;
}
.contenedor {
  background-image: url("multimedia/fondo-abstracto-para-descarga-gratuita.jpg");
  margin: auto 35vh auto 35vh;
  background-color: coral;
  display: flex;
}
p {
  text-align: center;
  margin-left: 8vh;
  font-size: 2.5vh;
  padding: 5px;
  width: 60vh;
}
.euros {
  color: aliceblue;
  font-size: 2em;
  padding: none;
}
.terminos {
  box-shadow: 0 0 10px 2px black;
}
#paypal-button-container {
  margin-top: 60px;
  margin-left: 70px;
}
.contenedor.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor.centrado .seccion {
  margin: 0;
}
@media screen and (max-width: 768px) {
  h5 {
    margin: 0 95%;
    font-size: 1.5em;
  }
  .bienvenida {
    margin: 15px;
    font-size: 2em;
  }
  .contenedor {
    margin: 0 auto;
    display: flex;
  }
  .contenedor img {
    display: none;
  }
  p {
    text-shadow: 0 0 3px black;
    margin: 5px auto 10px;
    color: whitesmoke;
    text-align: center;
    font-size: 1.2em;
    width: 90%;
  }
  .euros {
    margin: 5px auto;
    font-size: 2em;
  }
  #paypal-button-container {
    margin: 0 auto;
    padding: 10px;
  }
}
